/linux_mods_written_by_me/test_the_remote_mysql_server/Test_Remote_MySql/nbproject/private/
/linux_mods_written_by_me/test_the_remote_mysql_server/Test_Remote_MySql/dist/
/linux_mods_written_by_me/test_the_remote_mysql_server/Test_Remote_MySql/build/
